/* GERAL*/

@media (max-width: 1200px) {
	form.well {
		padding-bottom: 0;
	}
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* 
html, .full-height {
	height: 100%;
}
body {
	height: 100%;
	min-height: 100%;
}
.container-fluid .full-height {
	margin-bottom: 50px;
} 
*/
footer {
	text-align: center;
	bottom: 0;
}

/* HOME */

#login-form input {
	width: 200px;
}

/* ENTRADAS */
th.coluna-codigo {
	width: 40px;
}
th.coluna-data {
	width: 130px;
}
th.coluna-acao {
	width: 80px;
}

#form-filtro > .row > div {
	/*padding: 2px;*/
}

#form-filtro label {
	padding: 0;
	margin-top: 5px;
}

#form-filtro .form-group > div {
	padding: 0;
	margin-bottom: 5px;
}
